@using ETİCARET.Entity
@model ETİCARET.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Sipariş Detay Bilgileriniz</h2>
            <hr />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }
            <dl class="row">
                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.Waiting)
                    {
                        <span class="badge bg-danger"> @Model.OrderState</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Shipping)
                    {
                        <span class="badge bg-primary"> @Model.OrderState</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Completed)
                    {
                        <span class="badge bg-success"> @Model.OrderState</span>
                    }

                </dd>

                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">
                    <i class="fa-solid fa-turkish-lira-sign"></i>
                    @Model.Total
                </dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">Products</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.orderItems)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Content/images/@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-turkish-lira-sign"></i> @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm col-12" target="_blank">
                                            Product Details
                                        </a>
                                        @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(i => i.OrderId)
                                            @Html.EnumDropDownListFor(i => i.OrderState, "Select Order State", new { @class = "form-control mt-3" })
                                            <button type="submit" class="btn btn-primary col-12" style="font-size:14px">Update</button>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </dd>

            </dl>
        </div>
    </div>
</div>


